.
..
BraveSoftware
create-next-app-nodejs
dconf
doom
emacs
enchant
eog
evolution
geary
gedit
.git
.gitignore
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
ibus
libreoffice
mimeapps.list
monitors.xml
monitors.xml~
nautilus
nextjs-nodejs
NuGet
nushell
pop-shell
pop-system-updater
Postman
pulse
qalculate
touchegg
user-dirs.dirs
user-dirs.locale
yarn
